<div class="header">
    <div class="header-right">
        <p class="label">Welcome {{ (username$ | async) }}</p>
        <button type="button" class="logoutButton" (click)="logout()">
            <strong>Logout</strong>
        </button>
        <div ngbDropdown>
            <button type="button" class="menuButton" ngbDropdownToggle> <svg xmlns="http://www.w3.org/2000/svg"
                    width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                    stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-menu-icon lucide-menu">
                    <path d="M4 5h16" />
                    <path d="M4 12h16" />
                    <path d="M4 19h16" />
                </svg></button>
            <div ngbDropdownMenu="dropdown-items">
                <button ngbDropdownItem (click)="homePage()">Home</button>
                <button ngbDropdownItem (click)="bookListPage()">My Books</button>
                <button ngbDropdownItem (click)="aboutPage()">About</button>
                <button ngbDropdownItem (click)="contactPage()">Contact</button>
            </div>
        </div>
    </div>
    <div class="searchBox">
        <input type="text" placeholder="Search" />
        <button class="searchButton"></button>
    </div>
</div>