<app-header></app-header>
<div class="info-container">
    <div class="arrow-container">
        <svg style="margin-top: 10px; margin-left: 10px;" routerLink="/home" xmlns="http://www.w3.org/2000/svg"
            width="30" height="30" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
            stroke-linecap="round" stroke-linejoin="round"
            class="lucide lucide-square-arrow-left-icon lucide-square-arrow-left">
            <rect width="18" height="18" x="3" y="3" rx="2" />
            <path d="m12 8-4 4 4 4" />
            <path d="M16 12H8" />
        </svg>
    </div>
    <div class="header">
        <div class="image-container">
            <img [src]="image()" class="book-image" [alt]="title()">
        </div>
        <div class="more-info-container">
            <h5 class="book-title">{{ title() }}</h5>
            @if (rating()) {
            <div class="book-rating mb-3">
                <span class="rating-stars">★</span>
                <span class="rating-value">{{ rating() }}</span>
            </div>
            }
            <div class="more-info">
                <h6 class="author">Author: {{ author() }}</h6>
                <h6 class="genre">Genre: {{ genre() }}</h6>
                <h6 class="published-date">Published Date: {{ publishedDate() }}</h6>
            </div>
        </div>
    </div>
    <hr>
    <div class="description-container">
        <p class="description">{{description()}}</p>
    </div>
    <div class="btn-container">
        @if(book(); as book){
        <button class="btn btn-primary" (click)="addToCart(book)"> <svg style="margin-right: 5px;"
                xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                class="lucide lucide-shopping-cart-icon lucide-shopping-cart">
                <circle cx="8" cy="21" r="1" />
                <circle cx="19" cy="21" r="1" />
                <path d="M2.05 2.05h2l2.66 12.42a2 2 0 0 0 2 1.58h9.78a2 2 0 0 0 1.95-1.57l1.65-7.43H5.12" />
            </svg>Add To Cart</button>
        }
        @if(book(); as book){
        <button class="like-button" [class.liked]="isLiked$ | async" [disabled]="isLoadingLike$ | async"
            (click)="addToBookList(book!)"> <svg class="like-img" xmlns="http://www.w3.org/2000/svg" width="24"
                height="24" viewBox="0 0 24 24" [attr.fill]="(isLiked$ | async) ? 'red' : 'none'" stroke="red" stroke-width="2"
                stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-heart-icon lucide-heart">
                <path
                    d="M2 9.5a5.5 5.5 0 0 1 9.591-3.676.56.56 0 0 0 .818 0A5.49 5.49 0 0 1 22 9.5c0 2.29-1.5 4-3 5.5l-5.492 5.313a2 2 0 0 1-3 .019L5 15c-1.5-1.5-3-3.2-3-5.5" />
            </svg></button>
        }
    </div>
</div>