.body {
    display: grid; 
    grid-template-columns: repeat(auto-fit, minmax(700px, 1fr));    
    align-items: start;
}

@media (max-width: 700px) {
    .container {
        justify-self: center;
    }

    .right-side { 
        justify-self: center; 
        margin-top: 50px; 
    }
  }
  

.container {
    display: flex;
    flex-direction: column;
    margin-top: 160px;
    margin-left: 150px;
    width: 550px;
    height: 570px;
    padding-bottom: 30px;
    border-radius: 15px;
    box-shadow: 5px 10px 8px #888888;
}

.headerL {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
    margin-top: 30px;
}

.text {
    color: rgb(252, 106, 53);
    font-size: 48px;
    font-weight: 700;
    font-style: oblique;
}

.inputs {
    margin-top: 55px;
    display: flex;
    flex-direction: column;
}

.input {
    display: flex;
    align-items: center;
    margin: auto;
    width: 480px;
    height: 80px;
}

.fields-container {
    display: flex;
    flex-direction: column;
}

.field-input {
    height: 50px;
    width: 400px;
    background: transparent;
    border-radius: 10px;
    border: 2px solid rgb(198, 196, 196);
    outline: none;
    font-size: 19px;
    margin-left: 35px;
}

.field-input:focus { 
    border: 2px solid orange; 
    background-color: #fff7f0; 
}

svg {
    margin-right: -20px;
}

.right-side {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    margin-top: 200px;
    height: 500px;

    img {
        margin-left: 80px;
        width: 190px;
        height: 130px;
    }

    .quote {
        margin-left: 80px;
        font-weight: bolder;
        font-size: 50px;
        font-style: oblique;
        border-left: 10px solid orange;
        padding: 20px;
        padding-top: 0px;
        height: 250px;
        margin-top: 30px;
    }
}

.forgot-password {
    padding-left: 80px;
    color: #797979;
    font-size: 18px;
    margin-top: 28px;
    margin-bottom: 31px;
}

.submit-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 31px;
    margin-bottom: 15px;
}

.message {
    color: rgb(252, 106, 53);
    font-size: 20px;
    font-weight: 400;
    display: flex;
    justify-content: center;
}

.submit {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 40px;
    color: white;
    background: #FF904F;
    border-color: rgb(255, 159, 63);
    border-radius: 50px;
    font-size: 19px;
    font-weight: 700;
    cursor: pointer;
}

.submit:hover {
    color: white;
    background: #fc6832;
    border-color: #f57c50;
}

.password-button {
    border: none;
    background-color: transparent;
    color: orange;
}

.password-button:hover {
    color: rgb(251, 109, 2);
    text-decoration: underline;
}

.switch-button-paragraph {
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    font-size: 20px;
}

.switch-button {
    margin-left: 5px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    text-align: center;
    color: orange;
    font-size: 18px;
}

.switch-button:hover {
    color: rgb(251, 109, 2);
    text-decoration: underline;
}

.error {
    display: none;
    color: red; 
    margin-left: 50px;
    font-size: 12px;
    width: 150px;
}

.login-form.submitted .field-input.ng-invalid.ng-touched ~ .required { 
    display: flex;
    margin-top: 5px;
} 

.login-form.submitted .field-input.ng-invalid.ng-touched { 
    border: 2px solid rgb(251, 65, 65) !important;
    background-color: rgb(248, 194, 194) !important; 
} 

.signUp-form.submitted .field-input.ng-invalid.ng-touched ~ .required { 
    display: flex;
    margin-top: 5px;
} 

.signUp-form.submitted .field-input.ng-invalid.ng-touched { 
    border: 2px solid rgb(251, 65, 65) !important;
    background-color: rgb(248, 194, 194) !important; 
} 
