.container {
    display: flex;
    flex-direction: column;
    justify-self: left;
    margin-top: 140px;
    margin-left: 150px;
    width: 550px;
    height: 550px;
    padding-bottom: 30px;
    border-radius: 15px;
    box-shadow: 5px 10px 8px #888888;
}

.headerL {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
    margin-top: 30px;
}

.text {
    color: rgb(252, 106, 53);
    font-size: 48px;
    font-weight: 700;
    font-style: oblique;
}

.inputs {
    margin-top: 55px;
    display: flex;
    flex-direction: column;
}

.input {
    display: flex;
    align-items: center;
    margin: auto;
    width: 480px;
    height: 80px;
}

.input input {
    height: 50px;
    width: 400px;
    background: transparent;
    border-radius: 10px;
    border: 2px solid rgb(198, 196, 196);
    outline: none;
    font-size: 19px;
    margin-left: 35px;
}

svg {
    margin-right: -20px;
}

.right-side {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    min-width: 0;
    margin-right: 160px;
    margin-top: -550px;
    margin-left: 500px;
    height: 500px;

    img {
        margin-right: 320px;
        width: 190px;
        height: 130px;
    }
}

.quote {
    font-weight: bolder;
    font-size: 50px;
    font-style: oblique;
    margin-right: 220px;
    border-left: 10px solid orange;
    padding: 20px;
    padding-top: 0px;
    height: 250px;
    margin-top: 30px;
}

.forgot-password {
    padding-left: 80px;
    color: #797979;
    font-size: 18px;
    margin-top: 28px;
    margin-bottom: 31px;
}

.forgot-password span {
    color: orange;
    cursor: pointer;
}

.submit-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 31px;
    margin-bottom: 15px;
}

.message {
    color: rgb(252, 106, 53);
    font-size: 20px;
    font-weight: 400;
    display: flex;
    justify-content: center;
}

.submit {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 40px;
    color: white;
    background: #FF904F;
    border-color: rgb(255, 159, 63);
    border-radius: 50px;
    font-size: 19px;
    font-weight: 700;
    cursor: pointer;
}

.switch-button-paragraph {
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    font-size: 20px;
}

.switch-button {
    margin-left: 5px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    text-align: center;
    color: orange;
    font-size: 18px;
    text-decoration: underline;
}

.error {
    display: none;
    color: red; 
    font-size: 12px;
    margin-top: 60px;
    width: 100px;
}

.login-form.submitted .email-input.ng-invalid.ng-touched ~ .required { 
    display: flex;
    flex-direction: row;
    align-items: flex-start; 
} 

.login-form.submitted .email-input.ng-invalid.ng-touched { 
    border: 2px solid rgb(251, 65, 65) !important;
    background-color: rgb(248, 194, 194) !important; 
} 
