<div class="body">
    <div class="container">
        <div class="headerL">
            <p class="text">Did you forget your password?</p>
        </div>
        <div class="inputs">
            <form class="forgot-password-form" [formGroup]="forgotPasswordForm" (ngSubmit)="forgotPasswordModal()">
                <div class="input">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        stroke="#6a6868" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="lucide lucide-at-sign-icon lucide-at-sign">
                        <circle cx="12" cy="12" r="4" />
                        <path d="M16 8v5a3 3 0 0 0 6 0v-1a10 10 0 1 0-4 8" />
                    </svg>
                    <div class="fields-container">
                        <input class="field-input" type="email" placeholder="Email" formControlName="email" />
                        <div class="error required">* Email is required </div>
                    </div>
                </div>
                <div class="submit-container">
                    <button type="submit" class="submit"> Change Password </button>
                </div>
            </form>
        </div>
        <p class="paragraph">Write your email address and change your password. </p>
        <div class="message"> {{message()}} </div>
    </div>
</div>