.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 150px;
    width: 550px;
    height: 570px;
    border-radius: 15px;
    box-shadow: 5px 10px 8px #888888;
}

.headerL {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text {
    color: rgb(252, 106, 53);
    font-size: 30px;
    font-weight: 700;
    font-style: oblique;
}

.inputs {
    margin-top: 55px;
    display: flex;
    flex-direction: column;
}

.input {
    display: flex;
    align-items: center;
    margin: auto;
    width: 480px;
    height: 80px;
}

.fields-container {
    display: flex;
    flex-direction: column;
}

.field-input {
    height: 50px;
    width: 400px;
    background: transparent;
    border-radius: 10px;
    border: 2px solid rgb(198, 196, 196);
    outline: none;
    font-size: 19px;
    margin-left: 35px;
}

.field-input:focus {
    border: 2px solid orange;
    background-color: #fff7f0;
}

svg {
    margin-right: -20px;
}

.submit-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 31px;
    margin-bottom: 15px;
}

.message {
    color: rgb(252, 106, 53);
    font-size: 20px;
    font-weight: 400;
    display: flex;
    justify-content: center;
}

.submit {
    width: 200px;
    height: 50px;
    color: white;
    background: #FF904F;
    border-color: rgb(255, 159, 63);
    border-radius: 20px;
    font-size: 19px;
    font-weight: 700;
    cursor: pointer;
}

.submit:hover {
    color: white;
    background: #fc6832;
    border-color: #f57c50;
}

.paragraph {
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    font-size: 20px;
}

.error {
    display: none;
    color: red;
    margin-left: 50px;
    font-size: 12px;
    width: 150px;
}

.forgot-password-form.submitted .field-input.ng-invalid.ng-touched~.required {
    display: flex;
    margin-top: 5px;
}

.forgot-password-form.submitted .field-input.ng-invalid.ng-touched {
    border: 2px solid rgb(251, 65, 65) !important;
    background-color: rgb(248, 194, 194) !important;
}